.works {
   padding: 0px 0px 73px 0px;
}

.works__container {
   padding: 0px 126px;

   @media (max-width: 1024px) {
      padding: 0px 65px;
   }

   @media (max-width: $md3 + px) {
      padding: 0px 15px;
   }

}

.works__title {
   text-align: center;
   padding: 0px 0px 128px 0px;

   @media (max-width: $md3 + px) {
      padding: 0px 0px 60px 0px;
   }

   span {
      display: block;
      padding: 18px 22px 0px 0px;
      @include adaptive-font (22, 16);
      line-height: calc(30 / 22);
      font-weight: 700;
   }

   h2 {
      padding: 0px 0px 10px 0px;
      font-family: Roboto;
      @include adaptive-font (55, 16);
      line-height: calc(64 / 55);
      font-weight: 700;
      color: $mainColor;
   }
}


.works__items {
   display: flex;
   flex-direction: column;
}



._item__work {
   padding: 0px 0px 112px 0px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;

   @media (max-width: $md2 + px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}

.truba {
   display: flex;

   @media (max-width: $md2 +px) {
      flex-direction: column-reverse;
   }
}

._work {
   padding: 0px 0px 0px 0px;
}


._work__pic {
   flex: 0 1 20%;

   @media (max-width: $md3 + px) {
      padding: 0px 0px 20px 0px;
   }

   .z {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 285px;
      height: 285px;
      background: #D3DAC3;
      color: #284855;
      border-radius: 200px;
   }
}

._work__info {
   padding: 17px 0px 0px 57px;
   flex: 0 1 63.6%;

   @media (max-width: $md2 + px) {
      padding: 0px 0px 0px 0px;
      text-align: center;
   }

   span {
      display: block;
      padding: 0px 0px 10px 0px;
      font-family: Nunito Sans;
      @include adaptive-font (20, 16);
      line-height: calc(27 / 20);
      font-weight: 700;
      color: rgba(121, 139, 86, 1);
   }

   h3 {
      font-family: Roboto;
      @include adaptive-font (40, 16);
      line-height: calc(47 / 40);
      font-weight: 700;
      color: $titleColor;

      @media (max-width: $md3 + px) {
         padding: 0px 0px 20px 0px;
      }

   }

   p {
      width: 91%;
      @include adaptive-font (16, 16);
      line-height: calc(29 / 16);

      @media (max-width: $md3 + px) {
         width: 95%;

      }

   }
}

.element-show {
   transition:all 1s ease;
   border: 2px solid $titleColor;
   box-shadow: 0px 0px 30px $titleColor;
}
