.mission {
   padding: 81px 0px 141px 0px;
   background: #F4F6F0;
   border-radius: 0px;
}

.mission__container {
   padding: 0px 76px;
   @include center-between;

   @media (max-width: 1100px) {
      padding: 0px 20px;
   }

   @media (max-width: ($md2 +px)) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
   }
}

.mission__pic {
   padding: 3px 0px 0px 0px;
   flex: 0 1 40%;
}

.mission__info {
   flex: 0 1 48%;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 40px 0px;
   }

   .mission-info__slogan {
      @include adaptive-font (22, 16);
      line-height: calc(30 / 22);
      font-weight: 700;
      color: $descrColor;
   }

   .mission-info__title {
      padding: 0px 0px 38px 0px;
      font-family: Roboto;
      @include adaptive-font (55, 16);
      line-height: calc(64 / 55);
      font-weight: 700;
   }

   .mission-info__descr {
      padding: 0px 0px 61px 0px;
      display: block;
      width: 96%;
      @include adaptive-font (18, 16);
      line-height: calc(32 / 18);

      @media (max-width: ($md2 +px)) {
         width: 100%;
      }
   }

   .mission-info__question {
      padding-left: 31px;

      @media (max-width: ($md2 +px)) {
         padding: 0px 0px 0px 0px;
      }

      .question__link {
         display: inline-block;
         padding: 7px;
         @include adaptive-font (16, 16);
         line-height: calc(22 / 16);
         color: $descrColor;
         border: 1px solid $descrColor;

         &:hover {
            background-color: $mainColor;
            border: 1px solid $mainColor;
            color: $whiteColor;
         }
      }
   }
}
