.sounds {
   padding: 87px 0px 85px 0px;
   background-color: $titleColor;
}

.sounds__container {
   padding: 0px 78px;
   display: flex;
   justify-content: space-between;

   @media (max-width: $md2 +px) {
      flex-direction: column-reverse;
      text-align: center;
      padding: 0px 15px;
   }
}

.sounds__pic {
  

   @media (max-width: $md2 +px) {
      text-align: center;
   }
}

.sounds__info {
   flex: 0 1 64.5%;
   padding: 0px 0px 0px 20px;

   h2 {
      padding: 0px 0px 57px 0px;
      width: 94%;
      font-family: Roboto;
      @include adaptive-font (55, 16);
      line-height: calc(64 / 55);
      color: $whiteColor;

      @media (max-width: $md2 +px) {
         width: 100%;
      }
   }

   div {
      display: flex;
      justify-content: space-between;

      @media (max-width: $md2 +px) {
         padding: 0px 0px 30px 0px;
      }

      @media (max-width: $md4 +px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      p {
         display: block;
         width: 35%;
         @include adaptive-font (20, 16);
         line-height: calc(27 / 20);
         color: $whiteColor;

         &:last-child {
            margin-right: 65px;

            @media (max-width: 1200px) {
               margin-right: 0px;
            }
         }

         @media (max-width: 1200px) {
            width: 40%;
         }

         @media (max-width: $md4 +px) {
            width: 80%;
            margin-bottom: 20px;
         }
      }
   }
}

